## Create a new virtual environment:
# python -m venv myenv

## Activate the virtual environment:
# myenv\Scripts\activate

# pip install -r requirements.txt

# Web Application
streamlit 
streamlit-modal 
streamlit-extras

# Image Processing
Pillow
# API Requests
requests
# Environment Variables
python-dotenv
# Data Processing
pandas
# Type Hints
typing-extensions
# URL Processing
urllib3

together

# for GOOGLE CLOUD VISION
# google-cloud-vision
torch
torchvision
transformers

numpy

# for GOOGLE CLOUD VISION
deep_translator

# https://console.groq.com/playground?model=llama-3.2-11b-vision-preview
groq

# aiohttp #This is for telegram



